<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.spxrnd.collect</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/1off_k/options/.venv/bin/python</string>
		<string>-m</string>
		<string>spxrnd.cli.main</string>
		<string>--dir</string>
		<string>/Users/1off_k/options/data</string>
		<string>collect</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/1off_k/options</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>9</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>9</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>9</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>10</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>10</integer>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>10</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>10</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>10</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>10</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>11</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>11</integer>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>11</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>11</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>11</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>11</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>14</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>14</integer>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>14</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>14</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>14</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>14</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>15</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>15</integer>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>15</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>15</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>15</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>15</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>16</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>16</integer>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>16</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>9</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>9</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>9</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>10</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>10</integer>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>10</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>10</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>10</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>10</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>11</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>11</integer>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>11</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>11</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>11</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>11</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>14</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>14</integer>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>14</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>14</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>14</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>14</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>15</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>15</integer>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>15</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>15</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>15</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>15</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>16</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>16</integer>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>16</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>9</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>9</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>9</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>10</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>10</integer>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>10</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>10</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>10</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>10</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>11</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>11</integer>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>11</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>11</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>11</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>11</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>14</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>14</integer>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>14</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>14</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>14</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>14</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>15</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>15</integer>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>15</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>15</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>15</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>15</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>16</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>16</integer>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>16</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>9</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>9</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>9</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>10</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>10</integer>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>10</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>10</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>10</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>10</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>11</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>11</integer>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>11</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>11</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>11</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>11</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>14</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>14</integer>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>14</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>14</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>14</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>14</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>15</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>15</integer>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>15</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>15</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>15</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>15</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>16</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>16</integer>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>16</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>9</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>9</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>9</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>10</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>10</integer>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>10</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>10</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>10</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>10</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>11</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>11</integer>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>11</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>11</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>11</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>11</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>14</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>14</integer>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>14</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>14</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>14</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>14</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>15</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>15</integer>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>15</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>15</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>15</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>15</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>16</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>16</integer>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>16</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardOutPath</key>
	<string>/Users/1off_k/options/logs/collect.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/1off_k/options/logs/collect.err.log</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>ExitTimeOut</key>
	<integer>300</integer>
</dict>
</plist>
